name: Build when commit on main

on: [push, pull_request]

jobs:

    setup:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            
            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                version: 6.0.0
                run_install: true

    build:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Build
              run: pnpm build

            - name: Create artifact
              uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: dist

    quality:
        runs-on: ubuntu-latest
        needs: build
        if: github.event_name == 'pull_request'
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install pnpm
              run: pnpm install

            - name: Build
              run: pnpm build

            - name: Linting
              run: pnpm lint
            
            - name: Static Type Checking
              run: pnpm type-check
